

.user-container {
    font-family: "Lexend";
    height: 100vh;
    background-color: #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;

    
  }

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background: linear-gradient(to right,#212021,#019788,#212021)

  }
  
  .profile-picture {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;  
    height: 150px;
    object-fit: cover;  
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    
    border-radius: 10%;
  }
  
  .user-details h2 {
    margin-bottom: 10px;
  }
  
  .content-area {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color: #cacfca;
  }
  
  .collection-content,
  .myreview-content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .collection-list {
    display: flex;
    flex-wrap: wrap;
    
  }

  .review-card {
    background-color: #cacfca;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 95%; 
  }
  
  .user-profile {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .reviewed-item {
    color: #555;
    margin-bottom: 5px;
  }
  
  .review {
    color: #333;
  }

  @media (max-width: 900px) {
    .collection-list {
        display: flex;
        flex-direction: column;
    }


    .content-area {
        display: flex;
        flex-direction: column;
    }
      
    
  }
  